<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
</head>

<body>

    <h1>zajęcia 25.04.2020 node.js</h1>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    <a href="./marcin">Klik</a>

  



    <script src="./../js/func.js"></script>

</body>

</html>